# instance_name X(um) Y(um) orientation
#
# Die: 2000 x 2000 um
# Core placement area: (220,220) - (1780,1780)
# Signal/power pad masters are 197.965 um deep.  Coordinates below are
# OpenDB instance origins, not simply rotated bounding-box lower-left corners.

# -----------------------------------------------------------------------------
# SRAM macros inside the padframe
# -----------------------------------------------------------------------------
soc.instruction_sram.SRAM_IMEM 280 1100 N
soc.data_sram.SRAM_LOW         1050 1100 N
soc.data_sram.SRAM_HIGH        1050 600 N

# -----------------------------------------------------------------------------
# North side: VCCD, VSSD, CLK, RST, GPIO0, GPIO1
# -----------------------------------------------------------------------------
io_pads.u_vccd_pad                    765 1802.035 N
io_pads.u_vssd_pad                    840 1802.035 N
io_pads.u_clk_pad                     915 1802.035 N
io_pads.u_rst_pad                     995 1802.035 N
io_pads.GPIO_PADS[0].u_gpio_pad      1075 1802.035 N
io_pads.GPIO_PADS[1].u_gpio_pad      1155 1802.035 N

# -----------------------------------------------------------------------------
# East side: VDDIO, VSSIO, GPIO2..GPIO5
# E == R270.  Y is the transformed instance origin.
# -----------------------------------------------------------------------------
io_pads.u_vddio_pad                  1802.035 840 E
io_pads.u_vssio_pad                  1802.035 915 E
io_pads.GPIO_PADS[2].u_gpio_pad      1802.035 995 E
io_pads.GPIO_PADS[3].u_gpio_pad      1802.035 1075 E
io_pads.GPIO_PADS[4].u_gpio_pad      1802.035 1155 E
io_pads.GPIO_PADS[5].u_gpio_pad      1802.035 1235 E

# -----------------------------------------------------------------------------
# South side: VDDA, VSSA, GPIO6..GPIO9
# S == R180.  X/Y are the transformed instance origins.
# -----------------------------------------------------------------------------
io_pads.u_vdda_pad                    840 197.965 S
io_pads.u_vssa_pad                    915 197.965 S
io_pads.GPIO_PADS[6].u_gpio_pad       995 197.965 S
io_pads.GPIO_PADS[7].u_gpio_pad      1075 197.965 S
io_pads.GPIO_PADS[8].u_gpio_pad      1155 197.965 S
io_pads.GPIO_PADS[9].u_gpio_pad      1235 197.965 S

# -----------------------------------------------------------------------------
# West side: GPIO10..GPIO15
# W == R90.  X is the transformed instance origin.
# -----------------------------------------------------------------------------
io_pads.GPIO_PADS[10].u_gpio_pad     197.965 760 W
io_pads.GPIO_PADS[11].u_gpio_pad     197.965 840 W
io_pads.GPIO_PADS[12].u_gpio_pad     197.965 920 W
io_pads.GPIO_PADS[13].u_gpio_pad     197.965 1000 W
io_pads.GPIO_PADS[14].u_gpio_pad     197.965 1080 W
io_pads.GPIO_PADS[15].u_gpio_pad     197.965 1160 W
